CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.idea/
AndroidCamera2API/.idea/workspace.xml
AndroidCamera2API/.idea/*
Camera2Test/.idea/*
